bcrypt==4.0.1
chromadb==0.4.13
Flask==3.0.0
Flask-Cors==4.0.0
Flask-Caching==2.1.0
Flask-PyMongo==2.3.0
gunicorn==21.2.0
jq==1.6.0
langchain==0.0.308
openai==0.28.1
pyfiglet==1.0.2
PyPDF2==3.0.1
pypdf==3.16.2
pymongo==4.5.0
python-dotenv==1.0.0
tiktoken==0.5.1