bcrypt
blinker
chroma-hnswlib
chromadb
debugpy
Flask
Flask-Cors
Flask-PyMongo
gunicorn
jq
jupyter_client
jupyter_core
langchain
openai
pinecone-client
pymongo
pypdf
PyPDF2
PyPika
pytest
python-dotenv
requests
tiktoken
uvicorn
